body {
    background-color: lightblue;
    margin: 0; /* Remove default margin */
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

p {
    font-family: "Outfit", sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: white;
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
}

.container-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 288px;
    
}

.qr-title {
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}

.qr-caption {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0.5px 0.5px;
    color: lightslategray;
}